.reg-container {
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url(https://images.pexels.com/photos/19444122/pexels-photo-19444122/free-photo-of-route-rue-jaune-voiture.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
}

.reg-title {
    font-size: 24px;
    font-weight: 300;
}

.reg-form {
    display: flex;
    flex-wrap: wrap;
}

.reg-input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

.reg-agreement {
    font-size: 12px;
    margin: 20px 0px;
}

.reg-button {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}